[submodule "public"]
	path = public
	url = git@github.com:shrysr/shrysr.github.io
	branch = master
[submodule "themes/hugo-academic"]
	path = themes/hugo-academic
	url = git@github.com:shrysr/hugo-academic.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/hugo-theme-zen"]
	path = themes/hugo-theme-zen
	url = git@github.com:shrysr/hugo-theme-zen.git
