[submodule "public"]
	path = public
	url = git@github.com:shrysr/shrysr.github.io
	branch = master
[submodule "themes/hugo-academic"]
	path = themes/hugo-academic
	url = git@github.com:shrysr/hugo-academic.git
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/am1t/ghostwriter.git
[submodule "themes/zzo"]
	path = themes/zzo
	url = git@github.com:shrysr/hugo-theme-zzo.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/shrysr/minimo
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
