{{ define "main" }}
<content>
    
  {{ if eq .Type "notes" }}
  <h3 style="margin-bottom:0"> {{ .Title }}</h3>
  <small>
      <a href="{{ "/archive" | relURL }}">&#8593; Archive</a>
  </small>
  {{ end }}
  <ul class="blog-posts">
      {{ $pages := where .Site.RegularPages "Type" "notes" }}
      {{ range $pages.ByDate.Reverse }}
    <li>
      <span>
          <i>
	      <div style="display:flex; width: 8rem;vertical-align:middle;justify-content: space-between;float:left">
		  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
		{{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
		  </time>
	      </div>
        </i>
      </span>
      <div style="display:flex; background-color: lightblue; width:10rem; vertical-align:middle;justify-content: space-between;flex-wrap:wrap">
	      <small> {{ .Type }} </small>
      </div>
      <div style="display:box;float:left; flex-wrap: wrap">
	  <a href="{{ .Permalink }}">{{ .Title }}</a> 
      </div>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>

</content>
{{ end }}
