{{ define "main" }}

<main id="main" id="top">
    <h1 class="page-title">{{ .Title }}</h1>
    {{ .Content }}

    {{ range (.Site.RegularPages.GroupByDate "2006") }}
    <div class="archive-year">
        <h2>{{ .Key }}</h2>
        <ul>
            {{ range .Pages }}
            <li>
                <div class="post-header-row">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
                </div>
                {{ with .Params.tags }}
                <div class="post-tags">
                    {{ range . }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="tag-pill">{{ . }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</main>

{{ end }}
