{{ define "main" }}
<content>
    <h2> Archive </h2>
    
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "/archive" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  <ul class="blog-posts">
      {{ $pages := where .Site.RegularPages "Type" "blog" }}
      {{ $pages := $pages | union (where .Site.RegularPages "Type" "notes") }}
      {{ $pages := $pages | union (where .Site.RegularPages "Type" "project") }}
      {{ range $pages.ByDate.Reverse }}
    <li>
      <span>
          <i>
	      <div style="display:flex;vertical-align:middle;">
		  <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate> <small>
		      {{ .Date.Format (default "2006, Jan 02" .Site.Params.dateFormat) }} </small>
		  </time>
	      </div>
        </i>
      </span>
      <div style="display:flex; width: 200px; padding:0px 1px 0 1px; vertical-align:middle;">
	  <small> {{ .Type }} </small>
      </div>
      <div style="display:flex; padding:0 0 0 15px;width:300rem;vertical-align:middle;">
	  <a href="{{ .Permalink }}">{{ .Title }}</a> {{ .Params.tags }}
      </div>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>

</content>
{{ end }}
